<!DOCTYPE html>
<html>
<head>
<title>IN Attendance</title>

<style>
body{
    background:white;
    text-align:center;
    font-family: Arial;
}
video{
    width:350px;
    border-radius:10px;
    border:3px solid black;
}
button{
    padding:10px 20px;
    margin:8px;
}
.container{
    display:inline-block;
    padding:12px;
    border:2px solid #ddd;
    border-radius:10px;
}
</style>
</head>

<body>

<h2>IN Attendance Camera</h2>

<div class="container">

    <video id="video" autoplay playsinline muted></video>

    <h3 id="challenge">Press Get Challenge</h3>

    <button id="getChallenge">Get Challenge</button>
    <button id="markBtn" disabled>Submit Face</button>

    <div id="status">Waiting…</div>

</div>

<script>
const video = document.getElementById("video");
const statusDiv = document.getElementById("status");
const challengeText = document.getElementById("challenge");
const getBtn = document.getElementById("getChallenge");
const submitBtn = document.getElementById("markBtn");

let currentChallenge = "";

// start webcam
navigator.mediaDevices.getUserMedia({ video:true })
.then(stream => video.srcObject = stream);

// challenges list
const challenges = [
    "SMILE 😀",
    "TURN LEFT 👈",
    "TURN RIGHT 👉",
    "KEEP NEUTRAL FACE 😐"
];

// get challenge
getBtn.onclick = () => {
    currentChallenge = challenges[Math.floor(Math.random()*challenges.length)];
    challengeText.innerText = "Do this: " + currentChallenge;
    submitBtn.disabled = false;
    statusDiv.innerText = "Perform the action then Submit";
};

// submit
submitBtn.onclick = async () => {

    statusDiv.innerText = "Processing...";

    const canvas = document.createElement("canvas");
    canvas.width = video.videoWidth;
    canvas.height = video.videoHeight;

    const ctx = canvas.getContext("2d");
    ctx.drawImage(video, 0, 0);

    canvas.toBlob(async blob => {

        const formData = new FormData();
        formData.append("image", blob);
        formData.append("challenge", currentChallenge);

        const res = await fetch("/mark_in", {
            method:"POST",
            body: formData
        });

        const data = await res.json();

        statusDiv.innerText = data.message;

        if(data.status === "marked") statusDiv.style.color = "green";
        else statusDiv.style.color = "red";

    }, "image/jpeg");
};
</script>

</body>
</html>
